@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif; 
 box-sizing: border-box;
    text-decoration: none; 
 border: none; 
outline: none; 
}

html{
font-size: 62.5%; 
}

body{
 background-color: black;
    color: white;
    overflow-x: hidden; 
}

header{
 margin-top: 20px;
position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 1rem 9%;
 background-color: transparent;
 filter: drop-shadow(10px);
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}

.logo{
 font-size: 3rem;
 color: red;
 font-weight: 800;
 cursor: pointer;
 transition: 0.5s ease;
}

.logo:hover{
 transform: scale(1.1);
}

nav a{
 font-size: 1.8rem;
 color: white;
 margin-left: 4rem;
 font-weight: 500;
 transition: 0.3s ease;
 border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
 color: red;
border-bottom: 3px solid red;
}

@media(max-width:995px){
 nav{
 position: absolute;
 display: none;
 top: 0;
 right: 0;
 width: 40%;
 border-left: 3px solid red;
 border-bottom: 3px solid red;
 border-bottom-left-radius: 2rem;
 padding: 1rem solid;
 background-color: #161616;
 border-top: 0.1rem solid rgba(0,0,0) }

 nav.active{
 display: block;
 }

 nav a{
 display: block; font-size: 2rem;
 margin: 3rem 0;
 }

 nav a:hover,
 nav a.active{
 padding: 1rem;
 border-radius: 0.5rem;
 border-bottom: 0.5rem solid red;
 }
}

.heading{
display: flex;
justify-content: center;
padding-top: 7%; 
font-weight: 700;
font-size: 50px;
gap: 12px;
}
.heading{
   display: flex;
   justify-content: center;
   padding-top: 7%;
   font-weight: 700;
   font-size: 50px;
   gap: 12px;
}
.my{
    color: red;
}
.intro{
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 1.5% 350px 0;
    text-align: center;
    font-size: 25px;
}
.font{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 105px;
    padding: 30px 30px;
    margin: 8px 30px;
    border: 2px solid red;
    border-radius: 40px;
    transition: .5s;
}
.font:hover{
    background: red;
    color: #16191e;
    box-shadow: 0 0 10px red;
}
.div1 ,.div2{
    display: flex;
    justify-content: center;
    padding-top: 4.5%;
}
